<div class="container-fluid">
  <h2>Create Department</h2>

  <div>
    <label>Name
      <input type="text" class="form-control" required [(ngModel)]="dept.name" name="name">
    </label>
  </div>

  <div>
    <label>Building
      <input type="text" class="form-control" required [(ngModel)]="dept.building" name="building">
    </label>

  </div>
  <button type="button" class="btn btn-success" (click)="save()">Add</button>

  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>

</div>