h1 {
  font: normal 16px/1 Arial, Helvetica, sans-serif;
color: rgba(5,25,255,1);
text-align: center;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  font-size: 1em;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

a{
  font-size: 2em;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

a:visited, a:link {
  color: #334953;
}

a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

a.active {
  color: #039be5;
}