

  <div class="container-fluid">
      <div *ngIf="task">
        <h2>{{task.name}}'s Details</h2>
      <div><span>id: </span>{{task.id}}</div>
      <div>
        <label>Name:
          <input type="text" class="form-control" [(ngModel)]="task.name" placeholder="Name"/>
        </label>
      </div>
      <div>
        <label>Due Date:
          <input type="text" class="form-control" [(ngModel)]="task.due_date" placeholder="Due Date"/>
        </label>
      </div>
      <div>
          <label>Department:
            <input type="text" class="form-control" [(ngModel)]="task.department_id" placeholder="Department"/>
          </label>
        </div>
        <div>
            <label>Employees:
              <input type="text" class="form-control" [(ngModel)]="task.employees" placeholder="Employee IDs"/>
            </label>
          </div>

        </div>
        <button type="button" class="btn btn-warning"  routerLink="/tasks">Go Back</button>
        <button type="button" class="btn btn-success" (click)="save()" >Save</button>
        </div>
